:root {
  --caption-height: 0.25em;
  --main-height: calc(100% - var(--caption-height));
}

.reveal section.present {
  background: #112;  /* not quite black, plus a hint of blue */
  height: 100%;
}

.reveal section.present::before {
  content: "@davearonson";
  font-size: 0.25em;
  position: absolute;
  left: 0;
  bottom: 0;
}

.reveal section.present::after {
  content: "www.Codosaur.us";
  font-size: 0.25em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.reveal section.present,
.reveal section.present a,
.reveal section.present h1,
.reveal section.present h2,
.reveal section.present h3,
.reveal section.present h4,
.reveal section.present h5,
.reveal section.present h6
{
  color: #ded;  /* not quite white, with a hint of green */
  font-family: "Trebuchet MS", "Helvetica Neue", sans-serif;
  text-transform: none;  /* else it gets uppercased, yuck! */
  margin-bottom: 0.05em;
  margin-top: 0.05em;
}

/* colorizing it uses too light a background */
.reveal section.present code { background: #112; }

.reveal section.present img {
  border-radius: 1em;
  height: 100%;
  margin: 0;
}

.reveal section.present pre { width: 100% }  /* override theme stupidity! */

.reveal section.present span.slide-caption {
  bottom: 0;
  font-size: 0.2em;
  left: 0;
  position: absolute;
  width: 100%;
  /* display: none; */
}

/* for debugging */
.reveal section.present .bordered { border: 1px solid red }

/*
 * not to be confused with centerING!
 * still used for the nope-scope on jenny's number;
 * would love to find some other way to center that
 * and get rid of this class,
 * because transforms wreak havoc with reveal.js's pdf-printing!
 */
.reveal section.present .centered {
  position: absolute;
  left: 50%;
  top: calc(var(--main-height) / 2);
  transform: translate(-50%,-50%);  /* of the div size! */
}

/* should only be used if there is only ONE item inside this */
.reveal section.present .centering {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
